# ignore all root items
/*
__pycache__/
*.egg-info/

# unignore folders
!devtools/
!src/
!scripts/
!.trae/
!docs/
!assets/

# unignore files
!.gitignore
!README.md
!pyproject.toml
!uv.lock
!Makefile
!install.command
!.pre-commit-config.yaml
!.editorconfig
!LICENSE
!tox.ini
!main.spec
!QWEN.md
